<div class="container-gallery">
    <div class="container">
      <div class="row">
        <div class="col" id="left">
          <h6>Today's Featured Image</h6>
        </div>
        <div class="col" id="right">
          <h1>PIXHAVEN</h1>
          <div class="container-fluid">
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search for free photos" aria-label="Search">
            </form>
          </div>
          <button type="button" class="btn btn-outline-light" id="btn1">Search</button>
          <button type="button" class="btn btn-light" id="btn2">Explore</button>
        </div>
      </div>
    </div>
  </div>
