.container{
    width: 45em;
}

.title{
    font-family: 'Aller', Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    margin-top: 1em;
    font-size: 4em;
}

.text{
    text-align: center;
    color: white;
    font-size: 20px;
}

.btn-light{
    margin-top: 2em;
    margin-left: 28em;
    border-radius: 20px;
    width: 10em;
}