<div class="col">
  <div class="card">
    <img [src]="imageUrl" class="card-img-top" style="height:12em;" alt="Image Not Available">
    <div class="card-body">
      <h5 class="card-title">{{ photographer }}</h5>
        <div class="btn-group" role="group" aria-label="Basic outlined example">
          <button type="button" class="btn btn-outline-light" style="font-size: 12px;">Share</button>
          <button type="button" class="btn btn-outline-light" style="font-size: 12px;">Download</button>
          <button type="button" class="btn btn-outline-light" style="font-size: 12px;">Add to Fave</button>
        </div>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last uploaded {{ time }} {{ mhd }} ago</small>
    </div>
  </div>
</div>
   

