<carousel>
    <slide>
      <img src="../assets/Image/francesco.jpg" alt="first slide" style="display: block; width: 100%; height: 600px;">
      <div class="carousel-caption d-none d-md-block">
        <p>Uploaded by: Francesco Ungaro</p>
      </div>
    </slide>
    <slide>
      <img src="../assets/Image/valdemaras.jpg" alt="second slide" style="display: block; width: 100%; height: 600px;">
      <div class="carousel-caption d-none d-md-block">
        <p>Uploaded by: Valdemaras D.</p>
      </div>
    </slide>
    <slide>
      <img src="../assets/Image/francesco2.jpg" alt="third slide" style="display: block; width: 100%; height: 600px;">
      <div class="carousel-caption d-none d-md-block">
        <p>Uploaded by: Francesco Ungaro</p>
      </div>
    </slide>
  </carousel>